name: Azure Pipelines
variables:
  python.version: '3.7.6'
  serviceConnections: 'Ensuring Quality Releases Project'

stages:
- stage: InfrastructureProvision
  jobs:
  - job: TerraformTasks
    displayName: Terraform
    pool:
      vmImage: 'ubuntu-18.04'

    steps:
      - task: DownloadSecureFile@1
        name: Downloading_terraform_tfvars
        displayName: Download terraform.tfvars
        inputs:
          secureFile: 'terraform.tfvars'

      # SSH Key for Terraform VM deployment
      - task: InstallSSHKey@0
        displayName: Installing SSH key
        inputs:
          knownHostsEntry: 'ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ=='
          sshPublicKey: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDVUp7/l4VKqd+fJu9Lbj0SDqFLypieivh4fV94VjxWtRlAO6yKfF914LV/nvYA5mp+pdGfo6T/w4udZh7skQ6v2MV6Ooqxf8ZFmRbslb1Adl0dgQBEQh1G/6aonl+zECg4+0lon5dl4DUtrSPuXy2T0C+SfXNTJb3N5TVxiuyp7t/jJZmu1b+oOl5g1ZT8gULyCvBAgIifO4JmzV/G3SdWMsQ8pN+C2os1Fnpme7qA6pvhU3U9Z+CdqQT9UmxlqiJUFK3qVSLcfKu0bXMYMgcH4DCUXrPDpFwe5+rnY8avWBTznT+VVuYGCKU8/dHKEWc5SI31rNAVgRg8W6szmt/B malgorzata@cc-6822e742-66fb55bf7b-65hl6'
          sshKeySecureFile: 'id_rsa'

      # Run bash script
      - task: Bash@3
        displayName: Copy terraform.tfvars
        inputs:
          targetType: 'inline'
          script: cp $(Agent.TempDirectory)/terraform.tfvars $(System.DefaultWorkingDirectory)/terraform

      #Terraform Install
      - task: TerraformInstaller@0
        displayName: Install Terraform
        inputs:
          terraformVersion: '1.2.2'

      #Terraform Init
      - task: TerraformTaskV2@2
        displayName: Terraform Init
        inputs:
          provider: 'azurerm'
          command: 'init'
          backendServiceArm: $(serviceConnections)
          backendAzureRmResourceGroupName: 'tstate'
          backendAzureRmStorageAccountName: 'tstate27459'
          backendAzureRmContainerName: 'tstate'
          backendAzureRmKey: 'terraform.tfstate'
          workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'

      - task: TerraformTaskV1@0
        displayName: Terraform Validate
        inputs:
          provider: 'azurerm'
          command: 'validate'
          workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
          environmentServiceNameAzureRM: $(serviceConnections)

      # Terraform plan
      - task: TerraformTaskV1@0
        displayName: Terraform Plan
        inputs:
          provider: 'azurerm'
          command: 'plan'
          commandOptions: |
            -input=false -lock=false 
          workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
          environmentServiceNameAzureRM: $(serviceConnections)

      # Terraform apply
      - task: TerraformTaskV1@0
        displayName: Terraform Apply
        inputs:
          provider: 'azurerm'
          command: 'apply'
          commandOptions: |
            -auto-approve -lock=false
          workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
          environmentServiceNameAzureRM: 'Ensuring Quality Releases Project'

#      - task: AzureCLI@1
#        inputs:
##          azureSubscription: 'sp-20210511'
#          scriptLocation: 'inlineScript'
#          inlineScript: 'terraform version'
#        displayName: "Terraform Version"
#      - script: |
#          cd $(System.DefaultWorkingDirectory)/terraform
#          echo '#####################Terraform Init#####################'
#          terraform init
#          echo '#####################Terraform Plan#####################'
#          terraform plan -out="out.plan"
#          echo '#####################Terraform Apply#####################'
#          terraform apply out.plan
#        displayName: 'Terraform Init, Plan and Apply'

- stage: Build
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-18.04'
    steps:
 #   #  Needed for Terraform VM deployment
 #   - task: InstallSSHKey@0
 #     inputs:
 #       knownHostsEntry: 'ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ=='
 #       sshPublicKey: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDVUp7/l4VKqd+fJu9Lbj0SDqFLypieivh4fV94VjxWtRlAO6yKfF914LV/nvYA5mp+pdGfo6T/w4udZh7skQ6v2MV6Ooqxf8ZFmRbslb1Adl0dgQBEQh1G/6aonl+zECg4+0lon5dl4DUtrSPuXy2T0C+SfXNTJb3N5TVxiuyp7t/jJZmu1b+oOl5g1ZT8gULyCvBAgIifO4JmzV/G3SdWMsQ8pN+C2os1Fnpme7qA6pvhU3U9Z+CdqQT9UmxlqiJUFK3qVSLcfKu0bXMYMgcH4DCUXrPDpFwe5+rnY8avWBTznT+VVuYGCKU8/dHKEWc5SI31rNAVgRg8W6szmt/B malgorzata@cc-6822e742-66fb55bf7b-65hl6'
 #       sshKeySecureFile: 'id_rsa'

    - task: ArchiveFiles@2
      displayName: 'Archive FakeRestAPI'
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)/fakerestapi'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId)-fakerestapi.zip'
    - publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId)-fakerestapi.zip
      displayName: 'Upload Package'
      artifact: drop-fakerestapi

    - task: ArchiveFiles@2
      displayName: 'Archive Selenium'
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)/automatedtesting/selenium'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId)-selenium-tests.zip'
    - publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId)-selenium-tests.zip
      displayName: 'Upload Package'
      artifact: drop-selenium-tests

- stage: Deployment
  jobs:
  - deployment: FakeRestAPI
    displayName: Deploying FakeRestAPI
    pool:
      vmImage: 'ubuntu-18.04'
    environment: 'TEST'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            inputs:
              azureSubscription: $(serviceConnections)
              appType: webApp
              WebAppName: 'kulfon'
              package: $(Pipeline.Workspace)/drop-fakerestapi/$(Build.BuildId)-fakerestapi.zip
              deploymentMethod: 'auto'

  - deployment: VMDeploy
    displayName: Deploy VM
    environment:
      name:  'TEST'
      resourceType: VirtualMachine
    strategy:
      runOnce:
        deploy:
          steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |
                #! /bin/bash
              
                sudo apt-get install software-properties-common -y
                sudo apt-add-repository universe -y
                sudo apt-get upgrade -y
                sudo apt-get install python3-pip -y
                sudo apt-get install unzip -y
                sudo apt-get install -y chromium-browser
                sudo apt-get install -y chromium-chromedriver
                pip3 install selenium
#                export PATH=$PATH:some/path

- stage: Test
  jobs:
    - job: IntegrationTest
      steps:
      - task: NodeTool@0
        displayName: Install Node v16.X
        inputs:
          versionSpec: '16.x'
      - bash: |
          npm install -g newman
          mkdir -p log/newman
        displayName: Install Newman
      - bash: |
          newman run automatedtesting/postman/Regression_Tests_collection.json \
                     -e automatedtesting/postman/Regression_Tests_Environment.json.json \
                     --reporters cli,junit \
                     --reporter-junit-export log/newman/regressionTestReport.xml \
                     --suppress-exit-code
        displayName: Regression Test
      - bash: |
          newman run automatedtesting/postman/Validation_Tests_collection.json \
                     -e automatedtesting/postman/Validation_Tests_Environment.json \
                     --reporters cli,junit \
                     --reporter-junit-export log/newman/validationTestReport.xml \
                     --suppress-exit-code
        displayName: Validation Test

      - task: PublishPipelineArtifact@1
        displayName: Publish Regression and Validation Test Reports as Artifacts
        inputs:
          targetPath: '$(System.DefaultWorkingDirectory)/log/newman'
          artifactName: 'drop-integration-test'
      - task: PublishTestResults@2
        displayName: Publish Regression and Validation Test Reports
        condition: always()
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: '$(System.DefaultWorkingDirectory)/log/newman/*.xml'
          mergeTestResults: true
          testRunTitle: 'Regression and Validation Test Reports'
    - deployment: UITest
      displayName: UITest
      environment:
        name:  'TEST'
        resourceType: VirtualMachine
      strategy:
        runOnce:
          deploy:
            steps:
            - script: |
                unzip -o $(Pipeline.Workspace)/selenium/selenium-tests.zip -d .
                sudo mkdir -p /var/log/selenium
                sudo chmod 664 /var/log/selenium

                sudo python3 -u ui_Tests.py 2>&1 | sudo tee -a /var/log/selenium/ui-test.log
                # copy selenium log file to $(System.DefaultWorkingDirectory)/log/selenium/
                cd $(System.DefaultWorkingDirectory)
                mkdir -p log/selenium
                pwd
                sudo cp /var/log/selenium/ui-test.log log/selenium/ui-test.log
                ls -la
              displayName: Run UI Tests
            - task: PublishPipelineArtifact@1
              displayName: Publish UI Test Logs
              inputs:
                targetPath: '$(System.DefaultWorkingDirectory)/log/selenium/ui-test.log'
                artifactName: 'drop-ui-logs'

    - job: PerformanceTest
      steps:
      - task: JMeterInstaller@0
        displayName: Install JMeter 5.4.3
        inputs:
          jmeterVersion: '5.4.3'
      - bash: |
          apache-jmeter-5.4/bin/jmeter -n -t jmeter/stress_test_suit.jmx \
                                       -l log/jmeter/stress-test-results.csv \
                                       -e -f -o log/jmeter/stress-test-report \
                                       -j log/jmeter/stress-test.log
        displayName: JMeter stress test
      - bash: |
          apache-jmeter-5.4/bin/jmeter -n -t jmeter/endurance_test_suit.jmx \
                                       -l log/jmeter/endurance-test-results.csv \
                                       -e -f -o log/jmeter/endurance-test-report \
                                       -j log/jmeter/endurance-test.log
        displayName: JMeter endurance test

      - task: PublishPipelineArtifact@1
        displayName: Publish Performance Test Logs
        inputs:
          targetPath: '$(System.DefaultWorkingDirectory)/log/jmeter'
          ArtifactName: 'drop-performance-test'